{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block link %}{% static 'css/blog.css' %}{% endblock link %}
{% block title %}Blog || Asadbek Muxtorov{% endblock title %}

    
    {% block content %}
    
    
    
    <div class="blog">
        <div class="container">
            <div class="section-title">
                <h1>
                    Blog
                </h1>
            </div>
            <div class="blog-area">
                <div class="fixed-data">
                    <p>
                        {% trans "Telegram kanal" %}: <a href="https://t.me/s/asadbekmuxtorov_blog">@asadbekmuxtorov_blog</a>
                    </p>
                    
                    <a class="fixed-data--a" href="https://t.me/s/asadbekmuxtorov_blog">{% trans "Ulanish" %}</a>
                    
                </div>  
                <ul class="blog-items">
                    {% for blog in object_list %}
                    <li class="blog-item">
                        <a href=" {% url 'blog_detail' blog.pk %} ">
                            <div class="item-description">
                                <p class="item-date"> {{ blog.date }}</p>
                                <h4 class="item-title">
                                    {{ blog.title }}
                                </h4>
                            </div>
                            
                            <span>
                                👉
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                    
                </ul>
                
                
            </div>
        </div>
    </div>
    
    {% endblock content %}
    
