{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block link %}{% static 'css/blog_detail.css' %}{% endblock link %}

{% block title %} {{object.title}} {% endblock title %}
{% block content %}

<div class="container blog">
    <li class="blog-item">
        <img src=" {{ object.image.url }} " alt=" {{ object.title }}" width="100%">
        <div class="item-description">
            <h4 class="blog-title">
                {{ object.title }}</br>
                        
            </h4>
            <div class="blog-date">
                <div class="date">
                    {{ object.get_date }}
                </div>
                
                <div class="view">
                    <i class="fa-solid fa-eye"></i>{{ object.get_view }}
                </div>
                
                
            </div>
            
            <div class="blog-body">
                {{ object.body | safe}}
            </div><br>
        </div>
        
    </li>  
</div>   



{% endblock content %}
