{% extends "base_portfolio.html" %}
{% load static %}
{% load i18n %}
{% block link %}{% static 'css/contact.css' %}{% endblock link %}
{% block title %} Bog'lanish || Asadbek Muxtorov
  
{% endblock title %}
{% block content %}
<div class="container">
    <section class="contact">
        <div class="sub-title align-center">
            {% trans "Bog'lanish" %}
        </div>
        <form action="" onsubmit=" return sendtelegram()">
            <textarea type="text" name="message" rols="20" placeholder="Xabaringizni yozing" id="message"></textarea>
            <div class="box1">
                <input type="text" name="name" placeholder="Ismingizni kiriting" required autocomplete="off" id="name">
                <input type="email" name="email" placeholder="Emailingizni kiriting" required  id="email">
            </div>
            <input type="text" placeholder="Xatning qisqacha mazmunini yozing" name="mazmun" id="mazmun">
            <input type="submit" value="Jo'natish" id="btn" class="btn btn-primary contact_button">

        </form>   
    </section>
</div>
{% endblock content %}
{% block js %}{% static 'js/sendtelegram.js' %}
  
{% endblock js %}