{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Asadbek Muxtorov || Python developer
{% endblock title %}
{% block content %}
<!-- Header -->


<!-- main section -->
<section class="main-section">
    <div class="container">
        <div class="info">
            <div class="main-img">
                {% if not object.image %}
                <img src="{% static 'images/asadbek.jpg' %}" alt="author img">
                {% else %}
                <img src=" {{ object.image.url }} " alt="author img">
                {% endif %}
            </div>
            <div class="main-description">
                <h1><span class="an"></span></h1>
                <h3>{% trans "Hobby: Frontend and Python" %}</h3>
                <div class="social-media">
                    <a href="https://github.com/bekmuxtorov"><i class="fa-brands fa-github"></i></a>
                    <a href="https://t.me/Asadbek_Muxtorov"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://linkedin.com/in/bekmuxtorov"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://instagram.com/muxtorov4101"><i class="fa-brands fa-instagram-square"></i></a>
                </div>
            </div>
        </div>
        <div class="sub-paragraf">
            <p><span class="an2"></span></p>
            <div class="btn-group">
                <a class="button blog-link" href="{% url 'works' %}">Portfolio</a>
                <a class="button portfolio-link" href=" {% url 'blog' %} " >{% trans "Read Blog" %}</a>
                
            </div>
        </div>
    </div>
    
</section>
{% endblock content %}
