{% extends 'base.html' %}
{% load static %}

{% block link %}{% static 'css/works.css' %}{% endblock link %}
{% block title %}Portfolio || Asadbek Muxtorov{% endblock title %}

{% block content %}
<div class="works">
    <div class="container">
        <div class="section-title">
            <h1>Bajarilgan ishlar</h1>
        </div>
        <div class="works-area">
            <ul class="works-items">
                
                {% for work in object_list %}
                
                <li class="works-item">
                    <div class="item-img">
                        <img src=" {{work.img.url}} " alt=" {{work.project_name}} " width="100%">
                    </div>
                    <div class="item-word">
                        <p class="project-name">Loyiha nomi: <span>{{ work.project_name }}</span> </p> 
                        <p class="project-description">Loyiha haqida: <br>  
                            <span>
                                {{ work.project_description | safe}}
                            </span>
                        </p><br>
                        <p class="project-tech">Texnalogiyalar: <span> {{work.project_tech}} </span> </p> 
                        <p class="project-view">Demo sayt:   <span>{{work.project_view}}</span>
                        </p> 
                        <a class="item-a" href="{{ work.project_view }}" target="_blank">Saytni ko'rish</a>
                        <a class="item-a a-hub" href="{{ work.project_github }}" target="_blank">GitHub'da ko'rish</a>

                        
                        
                    </div>
                </li>
                
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}