{% extends "base_portfolio.html" %}
{% load i18n %}

{% block title %}
    {% trans "Bajarilgan ishlar" %} || Asadbek Muxtorov
{% endblock title %}
{% block content %}

<section class="portfolio">
    <div class="container">
        <div class="section-title">
            <h4 class="sub-title">
                {% trans "Bajarilgan ishlar" %}
            </h4>
            <h1 class="title">
                {% trans "Barcha qiziqarli ishlar" %}
            </h1>
            <p>
                {% trans "Foydalanuvchilar uchun qulay veb-sahifalar yaratish mening ishimdir." %}
            </p>
        </div>
        
        <div class="data-filter">
            
            <ul class="indicator filter-items">
                <li data-filter="all">
                    <a class="filter-item active filter-item1" href="#">{% trans "Barchasi" %}</a>
                </li>
                <li data-filter="Frontend">
                    <a class="filter-item filter-item2" href="#">Frontend</a>
                </li>
                <li data-filter="Backend">
                    <a class="filter-item filter-item3" href="#">Backend</a>
                </li>
                <li data-filter="Telegram Bot" >
                    <a class="filter-item filter-item4" href="#">Telegram Bot</a>
                </li>
                
            </ul>
            
            
            
        </div>
        
        <div class="data-field">
            <ul class="items portfolio-items">
                {% for work in object_list %}
                <li data-category="" class="portfolio-item" >
                    <strong style="display: none;">{{ work.get_direction }}</strong>
                    
                    <div class="description">
                        <span class="item-span filter-item">
                            {{ work.get_direction }}
                        </span>
                        <h3>
                            {{ work.project_name |safe }} 
                        </h3>
                        <p>
                            {{ work.project_short_description}}
                        </p>
                        
                        <a class="btn-detail" href="{% url 'works_detail' work.pk %}">
                            {% trans "Batafsil ko'rish" %}  <span class="btn-icon"></span>
                        </a>
                    </div>
                    
                    <div class="img">
                        <img src="{{ work.img.url }}" alt="images">
                    </div>
                    
                </li>
                {% endfor %}
                
                
            </ul>
        </div>
        
    </div>
</section>
{% endblock content %}
